*{margin: 0;padding: 0;}
.container{
    height: 100vh;
    width:100vw;
    background-image: url("https://img.freepik.com/premium-vector/doubles-badminton-tournament-with-four-men-playing-court-with-silhouette-spectators-background-flat-vector-illustration_1284-72407.jpg?w=826");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.item{
    height: 100px;
    width: 100px;
    background-image: url(https://www.shutterstock.com/image-vector/shuttlecock-badminton-black-icon-isolated-260nw-1693805710.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode:multiply;
    mix-blend-mode:darken;
    color: aqua;
    position: absolute;
    bottom: 0;
    left: 0; 
    animation: animateX 4s linear infinite, animateY 2s ease-out infinite alternate;
    transform: rotate(45deg);

}
@keyframes animateX {
    from{
left:8;
transform: rotate(100deg);

    }
    to{
left:95%;
transform: rotate(-45deg);

    }
}


@keyframes animateY {
    from{

bottom: 8;
    }
    to{
        bottom:85%;
    }
}
